<!DOCTYPE html>
<html>
<head>
	<title>Semantic Search Engine</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<style type="text/css">
		section#tools img{
			width:150px;
		}
	</style>
</head>
<body class="bg-light">
<div class="container">
	
			<section class="container">
				<blockquote class="blockquote">
				Properly designed, the Semantic Web can assist the evolution of human knowledge as a whole.
				</blockquote>
				<div class="blockquote-footer text-info">
					The Semantic Web, Scientific American
				</div>
			</section>
			<br>
			<section class="container" id="introduction">
				<h1 class="text-center text-danger">Welcome to SSEI</h1>
				<p class="lead"><strong>Semantic Search Engine for Irrigation</strong> is the Search Engine for querying Irrigation Data (currently limited to USA) stored in a RDF Triple Store. The data format is based on the <em>Semantic Web Standards</em>. </p>
				<section class="container">
					<figure class="img-fluid text-center">
						<img src="readme.png" class="figure-img">
						<figcaption class="figure-caption">
							README on GitHub Repository of <em>SSEI</em>
						</figcaption>		
					</figure>
				</section>
			</section>

			<br>
			<section class="container" id="tools">
				<div class="h2 text-center">
					Tools and Platforms		
				</div>
				<br>
				<div class="row">
					<div class="col">
							<article>
									<img class="mx-auto" src="protege.ico" alt="Icon"></img>
							</article>						
					</div>
					<div class="col">
							<article>
									<img class="mx-auto" src="django.png" alt="Icon"></img>
							</article>						
					</div>
					<div class="col">
							<article>
									<img class="mx-auto" src="postgresql.png" alt="Icon"></img>
							</article>						
					</div>
					<div class="col">
							<article>
									<img class="mx-auto" src="heroku.png" alt="Icon"></img>
							</article>						
					</div>

					<div class="col">
						<div class="row">
							<article>
									<img class="mx-auto" src="owl.svg" alt="Icon"></img>
							</article>													
						</div>
						<br>
						<div class="row">
							<article>
									<img class="mx-auto" src="sparql.svg" alt="Icon"></img>
							</article>													
						</div>
						<br>
						<div class="row">
							<article>
									<img class="mx-auto" src="rdf.svg" alt="Icon"></img>
							</article>													
						</div>
					</div>
					
				</div>
				<br>
				<div class="row">
					<div class="col">
						<article>
								<img class="mx-auto" src="ajax.png" alt="Icon"></img>
						</article>													
					</div>
					<div class="col">
						<article>
								<img class="mx-auto" src="pandas.png" alt="Icon"></img>
						</article>													
					</div>
					<div class="col">
						<article>
								<img class="mx-auto" src="bootstrap.png" alt="Icon"></img>
						</article>													
					</div>
					<div class="col">
						<article>
								<img class="mx-auto" src="d3.png" alt="Icon"></img>
						</article>													
					</div>
					
				</div>

			</section>

</div>


</body>
</html>